
@{
    ViewBag.Title = "Completed";
}
<div class="container py-5 ">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Tebrikler!</h4>
        <p>Sipariş tamamlandı.Satın aldığınız ürünler en kısa zamanda kargoya verilecektir.</p>
        <hr>
        <p class="mb-0">Bizi tercih ettiğiniz için teşekkür ederiz.</p>
    </div>
</div>